<section class="p-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <img id="friend-pic" src="./placeholder/doggo.jpeg" alt="blanche">
            </div>

            <div class="col-8">
                <h1>Bingo</h1>
                <h3>age: 4</h3>
                <h3><span class="material-symbols-rounded">location_city</span> Los Angeles, CA</h3>
                <h3>Poodle</h3>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <h6>Bio</h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <div class="mt-5">
        <h4 class="mb-3">Messages</h4>
        <div class="border">
            chat goes here
        </div>
    </div>
</section>