

<header>
    <nav class="navbar justify-content-end">
        <ul class="nav my-2">
            <li class="nav-item mx-3"><span class="material-symbols-rounded"><a href= "/pets/{{pets}}">search</a></span></li>
            <li class="nav-item mx-3"><span class="material-symbols-rounded"<a href="/messages/">{{message.text}} on {{format.date}}</a></span></li>
            <li class="nav-item mx-3">Account</li>
            <li class="nav-item mx-3">Logout</li>
        </ul>
    </nav>
</header>




