<section class="min-vh-100 d-flex justify-content-center align-items-center">
    <!-- landing page - if signed out -->
    <div>
        <h1>Welcome back!</h1>
        <h3>Thank you for being a friend.</h3>
        <form id="login-form">
            <div>
                <label for="user">email</label>
                <input type="text" name="user" id="login-user">
            </div>
            <div>
                <label for="password">password</label>
                <input type="password" name="password" id="login-password">
            </div>
            <div class="error-message" id="login-error"></div>
            <div class="d-flex justify-content-center align-items-center">
                <button type="submit" id="login-button">Log in</button>
            </div>
        </form>
    </div>
</section>