{{!-- this is not needed anymore.. i did not remove this because of potential merge conflict --}}

{{!-- <section class="min-vh-100 d-flex justify-content-center align-items-center">
    <!-- landing page - if signed out -->
    <div>
        <h1>Welcome back!</h1>
        <h3>Thank you for being a friend.</h3>
        <form class="mt-4">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="user" placeholder="name@example.com">
                <label for="user">Email address</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <label for="password">Password</label>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-4">
                <button>Log in</button>
            </div>
        </form>
    </div>
</section> --}}