<h1>New Message</h1>
<form method="POST" action="/messages">
  <label for="to">To:</label>
  <select name="to" id="message-form">
    {{#each users}}
    <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <br>
  <label for="message-display">Message:</label>
  <textarea name="message-new" id="message-input" rows="5"></textarea>
  <br>
  <button type="submit">Send Message</button>
</form>
