<section class="min-vh-100 d-flex justify-content-center align-items-center">
        <!-- sign up page -->
        <div>
            <h1>Sign Up</h1>
            <form>
                <div>
                    <label for="full-name">Full Name</label>
                    <input type="text" id="full-name" name="full-name" required>
                </div>
                <div>
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div>
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" name="confirm-password" required>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </section>