
<h1>Messages</h1>
<div id="message">
{{#each message as |messages|}}
<div class="mt-5">
            <p>
              <ul>
                <li>Message: {{this.text}}
                  </li>
                </ul>
            </p>
          
    </div>
    </div>
  {{/each}}


