* {
    font-family: Poppins, sans-serif;
}

button {
    padding: 7px 25px;
    border: 1px solid black;
    background-color: transparent;
}

button:hover {
    color: white;
    background-color: black;
}

nav {
    background-color: aqua;
}

#sidebar {
    background-color: beige;
}

#profile-pic {
    width: 20vw;
}

#friend-pic {
    width: 30vw;
}