<h1>Fill out your profile for your dog</h1>
<form action="/dogs" method="POST">
  <div class="mb-3">
      <label for="dog-picture" class="d-block">Dog Picture</label>
      <input type="file" id="dog-picture" name="dog-picture" accept="image/*">
  </div>

  <div class="form-floating mb-3">
      <input type="text" class="form-control" id="dog-name" name="dog-name"  placeholder="Dog name" required>
      <label for="dog-name">Dog name</label>
  </div>

  <div class="form-floating mb-3">
      <input type="text" class="form-control" id="location" name="location" placeholder="Location" required>
      <label for="location">Location</label>
  </div>

  <div class="form-floating mb-3">
      <input type="text" class="form-control" id="dog-breed" name="dog-breed" placeholder="Dog breed" required>
      <label for="dog-breed">Dog breed</label>
  </div>

  <div class="form-floating mb-3">
      <input type="text" class="form-control" id="dog-age" name="dog-age" placeholder="Dog age" required>
      <label for="dog-age">Dog age</label>
  </div>

  <div class="form-floating mb-3">
      <select class="form-select" id="dog-gender" aria-label="Select dog gender" name="dog-gender" required>
          <option selected>-- Please select an option --</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
      </select>

      <label for="dog-gender">Dog gender</label>
  </div>

  <div class="form-floating mb-4">
      <textarea class="form-control" placeholder="Write a short bio for your dog here" id="dog-description" name="dog-description"></textarea>
      <label for="dog-description">Write a short bio for your dog here</label>
  </div>

  <button type="submit">Save</button>
</form>
