{{! m.login.handlebars}}

{{> main}}

{{#contentFor "title"}}Login{{/contentFor}}

{{#contentFor "body"}}
	<section id="login-form">
		<h1>Welcome back!</h1>
		<form action="/auth/login" method="POST">
			<div class="form-floating mb-3">
                <input type="email" class="form-control" id="user" placeholder="name@example.com">
                <label for="user">Email address</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <label for="password">Password</label>
            </div>

			<input type="submit" value="Login">
		</form>
		<p>Don't have an account? <a href="/auth/signup">Sign up</a></p>
	</section>
{{/contentFor}}
